.main {
  height: 100%;
}
.right {
  padding-right: 5px;
}

#html-element {
  height: 400px;
  color: white;
  background-color: black;
}

#css-element {
  height: 400px;
  color: yellow;
  background-color: black;
}

#js-element {
  height: 400px;
  color: red;
  background-color: black;
}

#execute-btn {
  border-radius: 50%;
}

iframe
{
  width: 100%;       
  border: none;        
  overflow: hidden !important;
  height: auto;
}