.main {
  height: 100%;
}
.right {
  padding-right: 5px;
}

#html-element {
  height: 400px;
  color: white;
  background-color: black;
}

#css-element {
  height: 400px;
  color: yellow;
  background-color: black;
}

#js-element {
  height: 400px;
  color: red;
  background-color: black;
}

.heading {
  display: grid;
  text-align: center;
}

#execute-btn {
  border-radius: 50%;
}

#html-heading {
  color: orange;
}

#css-heading {
  color: blue;
}

#js-heading {
  color: darkgoldenrod;
}
